.right-aside {
  overflow: hidden;
  display:block;
  @media screen and (max-width: 1099px){
    clear:both;
  }
  @media screen and (min-width: 1100px) {
    float: right;
    width: 260px;
    margin-left: 5px;
  }
  .gallery, .video, .reclame, .interview {
    @media screen and (min-width: 430px)and (max-width: 834px) {
    @include span(6 of 12);
    }
    @media screen and (min-width: 835px)and (max-width: 1099px) {
      @include span(4 of 12);
    }
  }
  .video,.interview{
    @media screen and (min-width: 430px) and (max-width: 834px) {
      @include last;
    }
  }
  .reclame{
    @media screen and (min-width: 835px)and (max-width: 1099px) {
      @include last;
    }
  }
  h2 {
    height: 40px;
    padding: 11px;
    background: url("../images/backgroung-right-asidetitle.png") no-repeat center;
    background-size: cover;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.33);
    color: #e58106;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
  }
  .btn-watch {
    float: right;
    width: 76px;
    height: 21px;
    margin-right: 45px;
    padding: 4px;
    background-image: linear-gradient(to top, #864918 0%, #f28804 100%);
    font-family: Arial;
    font-size: 11px;
    color: #331c04;
    text-align: center;
    transition: 0.5s;
    &:hover {
      opacity: 0.5;
    }
  }
  .gallery {
    overflow: hidden;
    min-height: 250px;
    margin-bottom: 25px;
    background: #1a1a1a;
    ul {
      padding: 10px 18px;
      text-align: center;
      li {
        display: inline-block;
        margin: 0 15px 5px 0;
        box-shadow: 0 0 0 1px rgba(240, 135, 4, 0.47);
        line-height: 0;
        a {
          line-height: 0;
        }
        &:nth-of-type(2), &:nth-of-type(4) {
          margin-right: 0;
        }
      }
    }
  }
  .video {
    overflow: hidden;
    min-height: 200px;
    margin-bottom: 5px;
    background: #1a1a1a;
    ul {
      padding: 10px 18px;
      text-align: center;
      li {
        display: inline-block;
        &:first-child {
          margin-right: 15px;
        }
        figure {
          max-width: 80px;
          margin: 0;
          text-align: center;
          img {
            box-shadow: 0 0 0 1px rgba(240, 135, 4, 0.47);
          }
          a {
            color: #f08704;
            font-family: Arial;
            font-size: 9px;
            transition: 0.5s;
            &:hover {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
  .reclame {
    overflow: hidden;
    min-height: 195px;
    margin-bottom: 5px;
    background: #1a1a1a;
    text-align: center;
    h2 {
      margin-bottom: 5px;
    }
    img {
      margin-bottom: 20px;
    }
  }
  .interview {
    overflow: hidden;
    background: #1a1a1a;
    form {
      padding: 10px;
      p {
        margin-bottom: 10px;
        color: #fb9c0b;
        font-family: Arial;
        font-size: 11px;
      }
      .game-choice-list {
        margin-bottom: 15px;
        li {
          margin-bottom: 5px;
          color: white;
          font-family: Arial;
          font-size: 11px;
        }
      }
      .btn-list {
        li {
          display: inline-block;
          margin-bottom: 30px;
          input {
            width: 78px;
            height: 21px;
            background-image: linear-gradient(to top, #894b17 0%, #ef8605 100%);
            box-shadow: 0 0 0 1px rgba(235, 132, 5, 0.55);
            text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.21);
            color: black;
            font-family: Arial;
            font-size: 12px;
            transition: 0.5s;
          }
          .result-btn{
            font-size: 11px;
            background-image: linear-gradient(to top, black 0%, #1f1f1f 100%);
            box-shadow: 0 0 0 1px rgba(59, 59, 59, 0.75);
            color: white;
          }
        }
      }
    }
  }
}