.contact{
  background: #fff;
  h2{
    position: relative;
    margin:110px auto;
    text-transform: uppercase;
    text-align: center;
    color: #222;
    font-family: BigJohn;
    font-size: 30px;
    &:after{
      content:'';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      width: 86px;
      height: 2px;
      margin:50px auto;
      background-color: #222;
    }
  }
  p {
    max-width:742px;
    margin:100px auto 60px;
    text-align: center;
    color: #222;
    line-height: 36px;
    font-weight: 300;
  }
}
.contact-info {
  text-align: center;
  padding: 0 5px 30px;
  background: #f2f2f2;
  h4 {
    font: 24px/60px 'BIGJOHN';
    margin: 0 auto 20px;
  }
  p {
    font: italic 22px/40px 'AmbleLight';
    margin-bottom: 25px;
  }
  .social-block {
    display: block;
    a {
      font-size: 14px;
      color:black;
      display: inline-block;
      margin-right: 25px;
    }
    .fa-facebook {
      &:hover {
        color: #3b5998;
        transform: scale(1.8) rotate(360deg);
      }
      &:active {
        transform: scale(1.3);
      }
    }
    .fa-twitter {
      &:hover {
        color: #00aced;
        transform: scale(1.8) rotate(360deg);
      }
      &:active {
        transform: scale(1.3);
      }
    }
    .fa-linkedin {
      &:hover {
        color: #007bb6;
        transform: scale(1.8) rotate(360deg);
      }
      &:active {
        transform: scale(1.3);
      }
    }
    .fa-vimeo {
      &:hover {
        color: #aad450;
        transform: scale(1.8) rotate(360deg);
      }
      &:active {
        transform: scale(1.3);
      }
    }
    .fa-behance {

      &:hover {
        color: #3b5998;
        transform: scale(1.8) rotate(360deg);
      }
      &:active {
        transform: scale(1.3);
      }
    }
  }
}
.contact-form {
  padding: 30px 5px;
  margin: 0 auto;
  background: #e4e4e4;
  input {
    display: block;
    width: 300px;
    height: 35px;
    background: none;
    border: none;
    border-bottom: 2px solid #afafaf;
    margin: 0px auto 30px;
    transition: all .5s ease;
    &:focus {
      border-bottom: 2px solid #d87843;
    }
    &:hover {
      transform: rotate(1deg);
    }
  }
  textarea {
    width: 100%;
    height: 55px;
    max-width: 670px;
    background: #e4e4e4;
    border: none;
    border-bottom: 2px solid #afafaf;
    transition: all .5s ease;
    &:focus {
      border-bottom: 2px solid #d87843;
    }
    &:hover {
      transform: rotate(1deg);
    }
  }
  input[type=button] {
    display: block;
    margin: 0 auto;
    max-width: 430px;
    height: 100px;
    background: none;
    color: #fff;
    font: 700 30px/100px "AmbleBold";
    text-align: center;
    border: 3px solid white;
    &:hover {
      transition: 0.5s ease-in-out;
      background: #e29158;
      cursor: pointer;
      border: 3px solid #e29158;
      box-shadow: 3.5px 3.6px 0 rgba(0, 0, 0, 0.22)
    }
    &:active {
      transform: scale(0.9);
    }
    color: #222;
    border-color: #222;
    width: 183px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    margin-top: 40px;

  }
}
@media(min-width: 769px) {
  .contact-info {
    position: relative;
    min-height: 380px;
    padding: 8px 0 25px 0;
    text-align: left;
    @include span(4 of 12 inside);
    &:before {
      position: absolute;
      content: " ";
      display: block;
      height: 100%;
      width: 228%;
      top: 0;
      left: -886px;
      background: #f2f2f2;
    }
  }
  .contact-grid-right {

    @include span(8 of 12 inside);
  }
  input[type=text] {
    float: left;
    max-width: 45%;
  }
  input[type=email] {
    max-width: 45%;
  }
  .contact-form {
    position: relative;
    min-height: 407px;
    padding: 100px 20px 0 100px;
    &:after {
      position: absolute;
      content: " ";
      display: block;
      height: 100%;
      width: 129%;
      top: 0;
      right: -1000px;
      background: #e4e4e4;
    }
  }
  input[type=button] {
    float: right;

  }
}