#skills{
  h2{
    position: relative;
    margin:110px auto;
    text-transform: uppercase;
    text-align: center;
    color: #222;
    font-family: BigJohn;
    font-size: 30px;
    &:after{
      content:'';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      width: 86px;
      height: 2px;
      margin:50px auto;
      background-color: #222;
    }
  }
  p {
    max-width:742px;
    margin:100px auto 60px;
    text-align: center;
    color: #222;
    line-height: 36px;
    font-weight: 300;
  }
  .skills-item{
    li{
      display:inline-block;
      max-width: 350px;
      padding: 0 10px;
      img{
        display:block;
        margin:0 auto;
      }
      .fix-img{
        margin:30px auto 0;
      }
      .fix-img-last{
        margin:19px auto 0;
      }
      h4{
        margin:40px 0;
        font-size: 24px;
        color:#200;
        text-align: center;
      }
      .descr-item{
        margin:0;
      }
    }
  }
  .bx-wrapper{
    margin-bottom:80px;
  }
}